{% load static %}

{% csrf_token %}
{% if carts and carts|length > 0 %}
<div>
    {% for cart in carts %}
        <div class="card mb-3 shadow-sm">
            <div class="card-header">
                <h5 class="card-title mb-0">{{ cart.product }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
                        <div class="col-md-auto">
                            <div class="input-group input-group-sm">
                                <button type="button" class="btn btn-dark decrement"
                                        data-cart-id="{{ cart.id }}"
                                        data-cart-change-url="{% url 'carts:cart_change' %}"
                                        aria-label="Уменьшить количество">
                                    &minus;
                                </button>
                                <input type="text"class="form-control form-control-sm text-center number"
                                    id="cart-qty-{{ forloop.counter }}"
                                    style="width: 50px;"
                                    value="{{ cart.quantity }}" readonly>
                                <button type="button" class="btn btn-dark increment"
                                        data-cart-id="{{ cart.id }}"
                                        data-cart-change-url="{% url 'carts:cart_change' %}"
                                        aria-label="Увеличить количество">
                                    +
                                </button>
                            </div>
                            {% if cart.product.size %}
                            <div class="col-md-auto">
                                <span class="badge bg-secondary">Размер: {{ cart.product.size }}</span>
                            </div>
                            {% endif %}
                            {% if cart.product.color %}
                            <div class="col-md-auto">
                                <span class="badge bg-secondary">Цвет: {{ cart.product.color }}</span>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md-auto">
                            <span class="fs-6 text-muted">{{ cart.product.sell_price }} ₽ × {{ cart.quantity }} =</span>
                        </div>
                        <div class="col-md-auto">
                            <span class="fs-5 fw-bold">{{ cart.products_price }} ₽</span>
                        </div>
                        <div class="col-md-auto">
                            <a href="{% url 'carts:cart_remove' %}"
                            class="remove-from-cart btn btn-outline-danger btn-sm"
                            data-cart-id="{{ cart.id }}"
                            aria-label="Удалить товар">
                                <img src="{% static 'deps/icons/trash3-fill.svg' %}" alt="Удалить" width="20" height="20">
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    {% endfor %}
</div>
<div class="card mb-3 shadow-lg">
    <div class="card-footer d-flex justify-content-between flex-wrap">
        <p class="mb-2 mb-md-0">Итого <strong>{{ carts.total_quantity }}</strong> товар(а) на сумму:</p>
        <h4 class="mb-0"><strong>{{ carts.total_price }} ₽</strong></h4>
    </div>
</div>
{% if not order %}
    <a class="btn btn-dark w-100 mt-3" href="{% url 'orders:create_order' %}">Оформить заказ</a>
{% endif %}
{% else %}
    <div class="alert alert-info">Ваша корзина пуста.</div>
{% endif %}
