{% extends "base.html" %}
{% load static %}
{% load goods_tags %}
{% load cache %}

{% block content %}
<div class="container py-4">
    <!-- Фильтры и кнопки -->
    <div class="row align-items-center mb-4">
        <div class="col d-flex flex-wrap gap-3">
            <!-- Каталог -->
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span>Каталог</span>
                    <img class="ms-2" src="{% static 'deps/icons/grid-fill.svg' %}" alt="Catalog Icon" width="16" height="16">
                </button>
                {% include "includes/catalog_dropdown.html" %}
            </div>

            <!-- Корзина -->
            {% include "includes/cart_button.html" %}

            <!-- Фильтры -->
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Фильтры
                </button>
                <form action="
                    {% if request.GET.q %}
                    {% url 'catalog:search' %}
                    {% elif request.GET.category_slug %}
                    {% url 'catalog:category' category_slug %}
                    {% else %}
                    {% url 'catalog:catalog' %}
                    {% endif %}" 
                    method="get" 
                    class="dropdown-menu dropdown-menu-dark p-3" 
                    onclick="event.stopPropagation();">
                    <div class="form-check text-white mb-2">
                        <input class="form-check-input" type="checkbox" name="on_sale" id="saleCheck" value="on"
                               {% if request.GET.on_sale == "on" %}checked{% endif %}>
                        {% if request.GET.q %}
                            <input type="hidden" name="q" value="{{ request.GET.q }}">
                        {% endif %}
                        <label class="form-check-label" for="saleCheck">
                            Товары по акции
                        </label>
                    </div>

                    <p class="text-white mt-2 mb-1">Сортировать:</p>
                    <div class="form-check text-white mb-1">
                        <input class="form-check-input" type="radio" name="order_by" id="sortDefault" value="default"
                               {% if not request.GET.order_by or request.GET.order_by == "default" %}checked{% endif %}>
                        <label class="form-check-label" for="sortDefault">По умолчанию</label>
                    </div>
                    <div class="form-check text-white mb-1">
                        <input class="form-check-input" type="radio" name="order_by" id="sortAsc" value="price"
                               {% if request.GET.order_by == "price" %}checked{% endif %}>
                        <label class="form-check-label" for="sortAsc">От дешевых к дорогим</label>
                    </div>
                    <div class="form-check text-white mb-3">
                        <input class="form-check-input" type="radio" name="order_by" id="sortDesc" value="-price"
                               {% if request.GET.order_by == "-price" %}checked{% endif %}>
                        <label class="form-check-label" for="sortDesc">От дорогих к дешевым</label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Применить</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Результаты поиска -->
    {% if request.GET.q %}
        <div class="row mb-4">
            <div class="col">
                <div class="p-4 bg-light rounded shadow-sm">
                    <h3 class="text-center mb-3">
                        Результаты поиска по запросу:
                        <span class="text-primary fw-bold">{{ request.GET.q }}</span>
                    </h3>
                    {% if not goods %}
                        <h4 class="text-center mt-3" >
                            <i class="bi bi-exclamation-circle-fill me-2"></i>
                            По запросу ничего не найдено
                        </h4>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    {% include "goods/includes/goods_pagination.html" %}

    <!-- Карточки товаров -->
    <div class="row g-4">
        {% for product in goods %}
            <div class="col-lg-4 col-md-6">
                <div class="card h-100 shadow-sm border-dark">
                    <a href="{% url 'catalog:product' product.slug %}">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src="{% static 'deps/images/Not found image.png' %}" class="card-img-top" alt="{{ product.name }}">
                    {% endif %}
                    </a>
                    <div class="card-body d-flex flex-column">
                        <a href="{% url 'catalog:product' product.slug %}" class="text-decoration-none text-dark">
                            <h5 class="card-title">
                                {% autoescape off %}
                                    {{ product.headline|default:product.name }}
                                {% endautoescape %}
                            </h5>
                        </a>
                        <p class="card-text small text-muted mb-2">
                            {% autoescape off %}
                                {{ product.bodyline|default:product.description|truncatechars:60 }}
                            {% endautoescape %}
                        </p>
                        {% if product.sku %}
                        <ul class="list-unstyled mb-3">
                            <li><strong>Артикул:</strong>
                                <span class="text">{{ product.sku }}</span>
                            </li>
                        </ul>
                        {% endif %}
                        <ul class="list-unstyled mb-3">
                            <li><strong>Количество:</strong>
                            {% if product.get_quantity > 0 %}
                                <span class="text">{{ product.get_quantity }}</span>
                            {% else %}
                                <span class="text-danger">Нет в наличии</span>
                            {% endif %}
                            </li>
                        </ul>
                        <div class="d-flex justify-content-between align-items-center mt-auto">
                            <div>
                            {% if product.discount %}
                                <span class="mb-1">
                                    <s class="text-muted">{{ product.price }}</s>
                                </span>
                                <span class="fw-bold text-success mb-1">
                                    {{ product.sell_price }} ₽
                                </span>
                                <span class="badge bg-warning text-dark">Скидка {{ product.discount }}%</span>
                            {% else %}
                                <p class="fw-bold mb-0">{{ product.sell_price }} ₽</p>
                            {% endif %}
                            </div>
                            <a href="{% url 'carts:cart_add' %}" 
                               class="btn btn-outline-success add-to-cart border-success"
                               data-product-id="{{ product.variants.first.id }}">
                                {% csrf_token %}
                                <img src="{% static 'deps/icons/cart-plus.svg' %}" alt="Add to cart" width="24" height="24">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include "goods/includes/goods_pagination.html" %}
</div>
{% endblock content %}


