{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container py-5 mt-5">

    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <div class="card shadow border-primary">
                <div class="card-body">
                    <h5 class="card-title">Контакты</h5>
                    <ul class="list-unstyled">
                        <li>
                            <strong>По техническим вопросам:</strong><br>
                            WhatsApp: <a href="https://wa.me/79263343495">Насибов Руслан</a><br>
                            Telegram: <a href="https://t.me/Nasru105">@Nasru105</a><br>
                            Email: <a href="mailto:nasibov2005@yandex.ru">nasibov2005@yandex.ru</a>
                        </li>
                        <hr>
                        <li>
                            <strong>По вопросам товаров:</strong><br>
                            WhatsApp: <a href="https://wa.me/79296609040">Насибова Марина</a><br>
                            Телефон: <a href="tel:+79296609040">+7 (929) 660-90-40</a><br>
                            Email: <a href="mailto:nasi-marina@mail.ru">nasi-marina@mail.ru</a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
