{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container py-5 mt-5">
    <h1 class="mb-4 text-center">{{ content }}</h1>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow border-primary">
                <div class="card-body">
                    <h3 class="mb-3">Доставка</h3>
                    {% comment %} <p>
                        Мы предлагаем следующие способы доставки:
                    </p> {% endcomment %}
                    <ul>
                        {% comment %} <li><strong>Курьерская доставка</strong> — по городу, срок доставки 1-2 дня, стоимость от 300 ₽.</li> {% endcomment %}
                        <li><strong>Самовывоз</strong> — бесплатно из нашего пункта выдачи по адресу: 
                        <a href="https://yandex.ru/maps/-/CHXKeXiD">деревня Косякино, 45, Раменский муниципальный округ, Московская область, 140160</a></li>
                        {% comment %} <li><strong>Почта России / СДЭК / Boxberry</strong> — в любую точку России, срок доставки от 3 до 10 дней в зависимости от региона. Стоимость рассчитывается при оформлении заказа.</li> {% endcomment %}
                    </ul>

                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
