{% extends "base.html" %}
{% load static %}
    

{% block modal_cart %}
    {% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}
    <h1 class="mt-5 pt-5"><strong>{{ content }}</strong></h1>
{% endblock content %}

{% block footer %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
    <footer class="bg-dark py-3 mt-auto">
        <div class="container text-center">
            <small class="text-white-50">&copy; Kosyakino 2025</small>
        </div>
    </footer>
{% endblock footer %}