{% load goods_tags %}

{% if goods %}
<!-- Пагинация -->
<nav aria-label="Pagination" class="mt-4">
    <ul class="pagination justify-content-center flex-wrap">
        <!-- Номера страниц -->
        {% for page in page_obj.paginator.page_range %}
            {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 or page == 1 or page == page_obj.paginator.num_pages %}
                <li class="page-item {% if page_obj.number == page %}active{% endif %}">
                    <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                </li>
            {% elif page == 2 or page == page_obj.paginator.num_pages|add:-1 %}
                <li class="page-item disabled">
                    <span class="page-link">…</span>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endif %}
